.navbar-login{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size{
    font-size: 87px;
} 


.panel-heading a, .panel-heading a:hover{
    color:#fff;
    outline: none;
}

#main{
    margin-top: 55px;
}
